name: fr1-frp31 action

on:
  schedule:
    - cron: '20 */4 * * *'
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2

      - name: config
        run: |
          git config --global user.email "<>"
          git config --global user.name "fr1-frp31 bot"
     
      - name: updating fr1-frp31
        run: |
            python3 ressources/ftv/py/fr1.py   > ressources/ftv/py/fr1.m3u8
            python3 ressources/ftv/py/frp31.py > ressources/ftv/py/frp31.m3u8
        
      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "fr1-frp31 updated"
          git push
