name: fr2nv action

on:
  schedule:
    - cron: '30 */4 * * *'
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2

      - name: config
        run: |
          git config --global user.email "<>"
          git config --global user.name "fr2nv bot"
      
      - name: updating fr2nv
        run: |
          python3 ressources/ftv/py2/fr2nv.py > ressources/ftv/py2/fr2nv.m3u8 &&
          python3 ressources/ftv/py2/fr3nv.py > ressources/ftv/py2/fr3nv.m3u8 &&
          python3 ressources/ftv/py2/fr5nv.py > ressources/ftv/py2/fr5nv.m3u8
        
      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "fr2nv updated"
          git push
