name: nowturkmaster action

on:
  schedule:
    - cron: '03 */3 * * *'
  
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: config
        run: |
          git config --global user.email "<>"
          git config --global user.name "nowtrmaster bot"
      
      - name: fetch content nowturkmaster
        run: |
          final_url=$(python3 ressources/tur/nowturkmaster.py)
          echo "final_url=${final_url}" >> $GITHUB_ENV

      - name: Replace Text
        run: |
          content="${{ env.final_url }}"
          sed -i "\|/foxtv/| c ${content}" all.m3u
          sed -i "\|/foxtv/| c ${content}" ressources/allgr.m3u

      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git pull
          git add all.m3u ressources/allgr.m3u
          git commit -m "nowtrmaster updated"
          git push
